<h1 class="subtitle is-3">Conversations</h1>
<br/>
<table class="table is-striped is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Status</th>
      <th>Audio</th>
      <th>Language</th>
      <th>Transcription</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @conversations.each.sort_by(&:created_at).each do |conversation| %>
      <tr>
        <td>
          <%= link_to conversation.id, conversation %>
        </td>
        <td><%= conversation.user.email %></td>
        <td>
          <%= conversation.status %>
          <%= conversation.status == "error" ? conversation.error_message : "" %>
        </td>
        <td class="is-vcentered">
          <% if conversation.audio.attached? %>
            <div data-controller="audio-playback" class="is-flex is-align-items-center">
              <audio
                controls
                class="is-hidden"
                data-action="canplaythrough->audio-playback#loaded"
                data-audio-playback-target="audio"
              >
                <source src="<%= rails_blob_path(conversation.audio) %>" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <progress
                class="progress is-small is-info"
                max="100"
                data-audio-playback-target="loading"
              ></progress>
            </div>
          <% end %>
        </td>
        <td><%= conversation.language %></td>
        <td><%= conversation.transcription_text %></td>
        <td>
          <%= button_to "Delete", conversation, class: "button is-danger", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
