<%= render "devise/shared/layout" do %>
  <h3 class="title is-3 pb-3">Forgot your password?</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="field py-2">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
    <div class="actions py-2">
      <%= f.submit "Send me reset password instructions",
               class: "button is-link is-fullwidth" %>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
  <% end %>
  <div class="mt-5">
    <%= link_to "Back", new_session_path(resource_name) %>
  </div>
<% end %>
